In [1]:
# Import packages
import sys
sys.path.append('/Users/phil/Documents/Documents/College Basketball')

import datetime
import collegebasketball as cbb
cbb.__version__

'0.1'

In [5]:
scores = cbb.load_csv('/Users/phil/Documents/Documents/College Basketball/Data/Scores/2002_regular_season.csv')
kenpom = cbb.load_csv('/Users/phil/Documents/Documents/College Basketball/Data/Kenpom/2002_kenpom.csv')

In [6]:
new_kenpom = cbb.update_kenpom(kenpom)
new_kenpom[new_kenpom['Team'] == 'Tennessee State']

,Rank,Team,Conf,Wins,Losses,AdjEM,AdjO,AdjO Rank,AdjD,AdjD Rank,...,Luck,Luck Rank,OppAdjEM,OppAdjEM Rank,OppO,OppO Rank,OppD,OppD Rank,NCSOS AdjEM,NCSOS AdjEM Rank
235,236,Tennessee State,OVC,9,17,-6.77,103.2,156,110.0,286,...,-0.034,242,-2.01,201,103.7,163,105.7,245,4.11,74

In [8]:
list = []
for row in scores.itertuples():
    match = False
    for row_k in new_kenpom.itertuples():
        if row[2] == row_k[2]:
            match = True
    if not match and row[2] not in list:
        list.append(row[2])
print(list)

list = []
for row_k in new_kenpom.itertuples():
    match = False
    for row in scores.itertuples():
        if row[1] == row_k[2]:
            match = True
    if not match and row_k[2] not in list:
        list.append(row_k[2])
        
print(list)

[]
['Gardner-Webb', 'Texas A&M-Corpus Christi', 'IPFW', 'Birmingham-Southern', 'Lipscomb', 'Savannah State']

In [10]:
scores[scores['Home'] == 'Gardner Webb']

Empty DataFrame
Columns: [Home, Away, Home_Score, Away_Score]
Index: []